@import './../styles/index.scss';


$hoverActive: rgb(248, 252, 11);

h4 {
	// @include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 300, 1.5rem, var(--rlg-color-medium-tint));
	text-transform: uppercase;
}

h5 {
	// @include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 300, 1.4rem, var(--rlg-color-medium-tint));
	text-transform: uppercase;
}

.template {
	display: flex;
	flex-direction: column;
	background: white;
	padding: 2rem;
	// margin-top: 4rem;

	.title {
		@include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 400, 2.5rem, var(--rlg-color-medium-tint));
		margin: 0;
		// border: 1px solid grey;
	}

	.publishedDate {
		@include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 300, .8rem, var(--rlg-color-medium-tint));
		margin:  0 0 20px 0;
		// border: 1px solid grey;
	}

	.active-nav-item {
      color: $hoverActive;
      font-weight: bold;
   }

}
