@import './../../styles/index.scss';

.posts {
	list-style-type: none;
	margin: 0;
}
.post {
	margin: 1rem 0;

	a {
		@include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 600, 2rem, null);
		// background: var(--rlg-color-light);
		color: var(--rlg-color-medium-tint);
		display: block;
		padding: 1rem;
		text-decoration: none;
	}
	a:hover {
		background: var(--rlg-color-light);
		color: var(--rlg-color-success);
	}
	h2 {
		// @include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 600, 2rem, null);
	}
}
.container {
	// margin: 0 0 40px 0;
	// text-decoration: none;
	// list-style-type: none;
	// border: 1px solid red;

	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: white;
  padding: 2rem;
  border: 1px solid red;
}
.title {
	@include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 300, 2rem, null);
	// text-transform: uppercase;
	line-height: 1;
	padding: 0;
	margin: 0;
	// border: 1px solid grey;
	h4 {
		margin-bottom: 0rem;
		top: -100px;
	}
	p {
		font-size: .8rem;
	}
}
.date {
	@include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 600, .8rem, grey);
	// border: 1px solid grey;
}
// .cardMedia {
// 	background-size: cover;
// 	background-position-y: 0px;
// }
// .cardFont2 {
// 	@include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 300, 1.8rem, grey);
// 	text-transform: uppercase;
// 	text-decoration: none;
// }

// .cardMedia {
// 	// height: 200px;
// 	background-size: cover;
// 	background-position-y: top;
// }
