@import "./../../styles/index.scss";

$gridChild-large-ht: 350px;
$gridChild-small-ht: 175px;
$gridChild-bottom-ht: 75px;
$feedContainer-ht: $gridChild-large-ht + $gridChild-small-ht +
   $gridChild-bottom-ht;
.cardTitle {
	@include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 500, .8rem, var(--rlg-color-light));
	text-transform: uppercase;
	line-height: 1;
}
.cardSubTitle {
	@include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 500, .6rem, var(--rlg-color-danger));
	text-transform: uppercase;
	line-height: 1;
}
.cardLink {
	text-decoration: none;
}