@import "./../styles/index.scss";

footer {
   .content {
      @include fontFamilyWeightSizeColor(
         var(--rlg-font-OpenSans),
         400,
         14px,
         var(--rlg-color-danger-tint3)
      );
		padding: 12px 0;
		text-align: center;
		background: (rgba(var(--rlg-color-danger-rgb), 0.45) 100%);
      border-top: 1px solid rgba(black, 0.5);
   }
}
