@import './../styles/index.scss';

$hoverColor: red;
$hoverActive: rgb(145, 6, 6);

.header {
	padding: 1rem 0 3rem;
}
.title {
	@include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 400, 3rem, var(--rlg-color-medium));
	// color: black;
	// font-size: 3rem;
	line-height: 1;
	text-decoration: none;
	margin: 0px;
	border: 0px solid grey;
}
.title:hover {
	color: $hoverColor;
}
.author {
	@include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 400, .7rem, var(--rlg-color-medium-tint2));
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 0;
	line-height: 0;
	margin: 2rem 0 3rem;
	border: 0px solid grey;
}
.description {
	@include fontFamilyWeightSizeColor (var(--rlg-font-OpenSans), 400, 1.2rem, var(--rlg-color-medium-tint2));
	// font-style: italic;
	padding: 0;
	line-height: 0;
	border: 0px solid grey;
}
nav {
	background: var(--rlg-color-light)
}
.nav-list {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 12px 0 0 0;
	border-top: 1px solid rgba(black, .25);
	border-bottom: 1px solid rgba(black, .25);
	// border: 1px solid rgba(red, .1)
}
.nav-item {
	color: grey;
	font-size: .9rem;
	text-transform: uppercase;
	margin-right: 1rem;
	margin: 0 1.3rem 0 1rem;
	text-decoration: none;
}
.nav-item:hover {
	color: $hoverColor;
}
.active-nav-item {
	color: $hoverActive;
	font-weight: bold;
}

// a {
// 	color: grey;
// }