@import "./../styles/index.scss";

$hoverColor: var(--rlg-color-danger);
$hoverActive: var(--rlg-color-danger);

.container {
   position: fixed;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;

   background-image: linear-gradient(
      to right,
      rgba(249, 255, 224, 0.95) 25%,
      rgba(252, 213, 182, 0.95) 50%,
      rgba(177, 198, 245, 0.95) 100%
   );
   width: 100vw;
   z-index: 1000;
   box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
   // border: 6px solid cyan;

   .logoContainer {
      width: 70%;
      padding: 20px 0 0 0;
      border-bottom: 1px solid rgba(10, 10, 10, .5);
      // border: 1px solid blue;

      .logo {
         background: url("./../assets/media/catsby-logo.png");
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center;
         // margin: 20px 20px 12px 120px;
         height: 40px;
         // border: 1px solid green;
      }
   }

   .nav-list { //ul
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 100%;
      width: 70vw;
      list-style-type: none;
      margin-left: 0px;
      // border: 1px solid rgba(red, 0.9);

      .nav-item { //li items
         @include fontFamilyWeightSizeColor( var(--rlg-font-OpenSans), 500, 1rem, var(--rlg-color-dark) );
         font-weight: 600;
         text-transform: uppercase;
         margin: 0 1.3rem 0 1rem;
         margin-right: 1rem;
         margin-bottom: 0px;
         text-decoration: none;
         text-shadow: 1px 1px 1px rgba(200, 200, 200, 0.75);
         // border: 1px solid grey;
      }
      .nav-item:hover {
         color: var(--rlg-color-danger);
      }
      .active-nav-item {
         color: var(--rlg-color-danger);
         // font-weight: 700;
      }
   }

   nav {
      display: flex;
      width: 75vw;
      background: transparent;
      height: 70px;
      // border: 4px solid orange;
   }
}

.title {
   @include fontFamilyWeightSizeColor( var(--rlg-font-OpenSans), 400, 3rem, var(--rlg-color-medium) );
   line-height: 1;
   text-decoration: none;
   margin: 0px;
   // border: 1px solid grey;
}

.title:hover {
   color: $hoverColor;
}

.author {
   @include fontFamilyWeightSizeColor( var(--rlg-font-OpenSans), 400, 0.7rem, var(--rlg-color-medium-tint2) );
   text-transform: uppercase;
   letter-spacing: 1.5px;
   padding: 0;
   line-height: 0;
   margin: 2rem 0 3rem;
   // border: 1px solid grey;
}
.description {
   @include fontFamilyWeightSizeColor( var(--rlg-font-OpenSans), 400, 1.2rem, var(--rlg-color-medium-tint2) );
   
   padding: 0;
   line-height: 0;
   // border: 1px solid grey;
}
